################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MauiApp9/.vs
/MauiApp9/MauiApp9/bin/Debug/net7.0-windows10.0.19041.0/win10-x64
/MauiApp9/MauiApp9/obj
/.vs
/MauiApp1/.vs/MauiApp1
/MauiApp1/MauiApp1/bin/Debug
/MauiApp1/MauiApp1/obj
/MauiApp1/.vs/ProjectEvaluation
